<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
	<!-- 추가 head 정보를 replace 할 위치 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="/js/chat.js"></script>
	<link rel="stylesheet" href="/css/commons/common.css">
	<link rel="stylesheet" href="/css/admin/admin-layout.css">
	<link rel="stylesheet" href="/css/commons/chat-bot.css">
<style type="text/css">
	.user-profile{
		display:block;
		width:120px;
		height: 120px;
		margin:0 auto;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		border-radius: 50%;
	}
</style>
</head>
<body id="layout-admin">
    <header>
   		<div class="wrap">
   			<ul>
   				<li>
   					<a href="/admin">
   						<img src="/image/logo/logo.png" style="width: 190px; height: 120px; border-bottom: 1px solid white;">
   					</a>
   				</li>
   			</ul>
   				<div style="text-align: center;">
	   				<div th:each="profile : ${#authentication.principal.profile}">
	   					<div th:if="${profile} == null">
	   						<img src="/image/test/profiletest.jpeg" style="width: 120px; border-radius: 50%; padding-top: 10px;">
	   					</div>
	   					<div th:if="${profile} != null">  						
	   						<p class = "user-profile" th:style="|background-image: url('${profile.url}${profile.newName}');|"></p>
	   					</div>
	   				</div>
   					<!-- <img src="/image/test/profiletest.jpeg" style="width: 120px; border-radius: 50%; padding-top: 10px;"> -->
   					<!--접속한 사원의 이미지-->
   					<p th:text="${#authentication.principal.name}"></p>
   					<p th:text="${#authentication.principal.mno}"></p>
   				</div>
   				<div style="text-align: center;">
   					<a th:href="|/mypage/info/${#authentication.principal.mno}|" class="test">내정보</a>
   					<a href="/login" style="font-size: 11px;">로그아웃</a>
				</div>
			<ul>
   				<li>
   					<dl>
   						<dt>인사관리</dt>
   						<dd><a href="/employee">조직도</a></dd>
   						<dd><a th:href="|/salary/${#authentication.principal.mno}|">사원정보관리</a></dd>
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>업무결재</dt>
   						<dd><a href="/approval">전자결재</a></dd>
   						<dd><a href="/approval/vacation">휴가및병가</a></dd>
   						<dd><a th:href="|/approval/check/${#authentication.principal.mno}|">결재확인</a></dd>
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>스케줄관리</dt>
   						<dd><a href="/schedule/companyCalenda">회사 일정</a></dd>
   						<dd><a href="/schedule/calendar">본인 캘린더</a></dd>
   					</dl>
   				</li>
   				<li>
   					<dl>
   						<dt>게시판 관리</dt>
   						<dd><a href="/notice-boards">공지사항</a></dd>
   						<dd><a href="/boards">자유게시판</a></dd>
   					</dl>
   				</li>
   			</ul>
   			<br>
   			<div style="text-align: center;">
   				<a href="/adminlist" th:if="${#authentication.principal.admin}">관리자페이지</a>
   			</div>
   		</div>
   		<aside id="chat-bot">
			<h1>그린 봇</h1>
			<div class="wrap">
				<button type="button" id="btn-chat-open" onclick="openChat()">Green bot</button>
				<th:block th:insert="~{chatbot/chat-bot::#chat-disp}" />
			</div>
		</aside>
   	</header>
</body>
</html>