<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
 	<th:block th:insert="~{admin/ManagerLayout :: head}"/>
	<link rel="stylesheet" href="/css/commons/common.css">
	<th:block th:insert="~{admin/ManagerLayout :: header}"/>
	<link rel="stylesheet" href="/css/member/mypage.css">
</head>
<body class="flex">
    <main style="background-image: url('/image/logo/main.JPG'); background-position: center; background-repeat: no-repeat; width: 100%; height: auto;">
	    <div>
	    	<div class="mypage">
	    		<div class="wrap-title">
	    			<h2 class="mypage-title">
	    				관리자 페이지 입니다.
	    			</h2>
	    		</div>
	    	</div>
	    </div>
    </main>
</body>
</html>