<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
 	<th:block th:insert="~{admin/AdminLayout :: head}"/>
 	<link rel="stylesheet" href="/css/department/departmentList.css">
	<script type="text/javascript">
    	//var left=0;
    	$(function(){
    		createCategory($(".gnb"));
    	});
    	function cateShow(){
    		alert("이벤트");
    		$("cate-2").css("display","block");
    	}
    	function createCategory(target){
    		var parentDno=$(target).attr("value");
    		console.log("parentDno:"+parentDno);
    		$.ajax({
    			url:`/admin/departmentsList/${parentDno}`,
    			success:function(olTag){
    				$(target).children(".cate-wrap").html(olTag);
    				var sub=$(target).find(".cate");
    				$.each(sub, subCategory);
    			},
    			error:function(){
    				alert("실패");	
    			}
    		});
    	}
    	function subCategory(){
    		createCategory($(this));
    	}
    	function onclickDepartment(el){
			var dno = $(el).next()//부서번호 가져오기
			if(dno.attr('class')!=3){
				return;
			}else{
				dno=dno.val();//확인 완료
				$.ajax({
					url:`/member/departmentMemberList/${dno}`,//링크 생성
					success:function(result){
						$(".departmentMemberList").html(result);//리스트를 뛰어줄 위치
					},
					error:function(){
						alert("비정상 작동");
					}
				});
			}
		}
    </script>
</head>
<body class="flex">
    <th:block th:insert="~{admin/AdminLayout :: header}"/>
    <main>
	<h1>메인컨텐츠</h1>
	<div class="wrap">
		<span>조직도</span>
		<ul class="flex">
			<li value="0" class="gnb cate">
				<div class="cate-wrap">
					
				</div>
			</li>
		</ul>
	</div>
	<div class="departmentMemberList">
			
	</div>
</main>
</body>
</html>