@charset "UTF-8";

a {
	text-decoration: none;
	color: black;
}
.wrap> section{
	margin-top: 100px;
}
#main_wrapper {
	
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}

#main_wrapper h2 {
	margin-bottom: 50px;
}
.logo_box{
	display:inline-block;
	width:171px;
	height: 54px;
	
}
.logo_link img{
	width:100%;
	height:205px;
	
}
#login_form { /* 로그인폼 태그 */
	margin: 0 auto;
	margin-bottom: 50px;
	width: 400px;
}

#login_form input[type=text], input[type=password] {
	margin-bottom: 10px;
	width: 400px;
	height: 50px;
}

#id_pw_search {
	float: right;
	margin-bottom: 30px;
}

#id_pw_search a {
	font-size: 14px;
}

#signup-button {
	display: block;
	width: 407px;
	height: 50px;
	line-height: 50px;
	font-size: 16px; font-weight : bold;
	border: 1px solid #00af85;
	background-color: #fff;
	color: #00af85;
	font-weight: bold;
}

#login_form input[type=submit] { 
	cursor:pointer;
	width: 409px;
	height: 50px;
	font-size: 16px;
	font-weight: bold; margin-bottom : 10px;
	border: 1px solid #00af85;
	background-color: #00af85;
	color: #fff;
	margin-bottom: 10px;
}